@import "tailwindcss";

@theme {
  /* CORES SECUNDÁRIAS */
  --color-cold-white: #f1f1f1;
  --color-light-salmon: #ff8c69;
  --color-light-mint: #e1f4e7;
  --color-verde-agua: #87efdd;
  --color-mint: #00a184;
  --color-gray: #7e7e7e;
  --color-azul-petroleo: #07132a;
  --color-black: #000000;

  /* CORES PRIMÁRIAS */
  --color-azul-marinho: #1d4289;
  --color-branco: #ffffff;
  --color-cinza: #aaaaaa;

  /* FONTES */
  --font-bebasneue: "Bebas Neue", "sans-serif";
  --font-roboto: "Roboto", serif;
}
